# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives: 
- List popular languages for Data Science
-List popular tools for Data Science
-List popular libraries for Data Science
- use markdown cells with diffrent heading styles

Some of the popular languages that Data Scientists use are:

1. python
2. julia
3. scala

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. pandas
3. matplotlib

|Data Science Tools|
|------------------|
|weka|
|java-ML|
|apache MLlib|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Marwan Amr Zenhom